*{
box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  font-family: Courier New, monospace;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: #f8f9fa;
}


header{  
  background: #eff3f5; 
  padding: 10px 20px;
  color: #000;
  min-height: 70px;
  border-bottom: #78bcc4 5px solid;
}


input{
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}


.signUp {
  padding-top: 50px;
  margin: 20px auto;
  width: 600px;
}

.signUpScreen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.appTitle {
  text-align: center; ;
  color: #4682B4;
}

.signUpForm {
  padding: 20px;
}

.form {
  margin-bottom: 10px;
}

.gender{
  font-family: inherit;
  padding-left: 10px;
}

.email input[type = "Email"]{
   width: 510px;
   text-align: center;
   margin-bottom: 10px;
}

.email input[type = "Code"]{
   width: 510px;
   text-align: center;
   margin-bottom: 10px;
}
/*
.signUpForm .password{
   width: 510px;
   text-align: center;
   margin-bottom: 10px;
}*/


.btn {
  margin-top: 20px;
  text-align: center;
  border: 2px solid transparent;
  background: #1E90FF;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 30px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 510px;
}

.btn:hover {
  background-color: #2980B9;
}

.loginLink {
  text-align: center;
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}