*{
	box-sizing: border-box;
}

*:focus {
  	outline: none;
}

body {
	font: 20px/1.5 Courier New, monospace;
	padding: 0;
	margin: 0;
	background: #f8f9fa;
	position: relative;
	position: 58px;
	min-height: 100vh;
}

	/*Global*/

.container{
	margin: auto;
	width:	80%;
	overflow:	hidden;
}

ul{
	margin: 0;
	padding: 0;
}

	/*Header*/

header{
  	background: #eff3f5;   
  	padding-top: 20px;
  	color: #000;
  	min-height: 70px;
  	border-bottom: #78bcc4 5px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 10px 20px;
}

header #erms{
	float: left;
}

header #erms h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a , .current{
	color: red;
	font-weight: bold;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;;
}

li {
  	float: right;
}

li a, .dropbtn {
  	display: inline-block;
  	color: #000;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  	color: #1070CA;
}

li.dropdown {
  	display: inline-block;
}


.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content a {
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  	display: block;
}

/* Footer */
footer {
	position: absolute;
	padding: 10px;
	margin-top: 20px;
	color: #000;
	background-color: #eff3f5;
	text-align: center;
	bottom: 0;
	width: 100%;


}

/*Home*/


/*My Experience*/

.myExp {
  	padding-top: 5px;
  	margin: 20px;
}
.myExpScreen {
  	padding: 30px;
}

.appTitle {
  	text-align: center;
  	color: #4682B4;
}

.expForm {
  	text-align: center;
}
.myExpForm {
  	margin-bottom: 15px;
}

label{
	font-family: Verdana;
}

input{
	float: right;
	width: 80%;
}



/*

.main-section h1{
	text-align: center;
	font-family: Verdana;
}
.main-section p{
	font-size: 20px;
	text-align: center;
	padding-right: 200px;
}
.my-exp{
	width: 1500px;
	height: 1000px;
	border: 2px solid #000;
	position: relative;
	margin-left: 30px;
	font-size: 19px;
	padding-bottom: 2px;
}
.my-exp p{
	height: 25px;
	border-bottom: 1px solid black;
	padding: 10px;
}

#main-header{
		background-color: #6699ff;
		color:white;
		width:10%;
		overflow:hidden;
		margin-left:5px;
		list-style:none;
		text-decoration:none;
}

#navbar{
	background-color:#0000e6;
}
#navbar ul{
	padding:0;
	list-style:none;
}
#navbar li{
	display:inline;
	padding-left:100px;
}
#navbar a{
	color:white;
	text-decoration:none;
	font-size:20px;
	padding-right:50px;
}
.main-section h1{
	text-align:center;
	font-family:Verdana;
}
.main-section p{
	font-size:20px;
	text-align:center;
	padding-right:200px;
}
.my-exp{
	width:1500px;
	height:500px;
	border:2px solid #000;
	position:relative;
	margin-left:30px;
	font-size:19px;
	padding-bottom:2px;
}
.my-exp p{
	height:25px;
	border-bottom:1px solid black;
}

.profile-update label{
	height:30px;
	padding:0;
	margin-left:50px;
	font-size:19px;
	font-family:verdana;
	
}
.profile-update input{
	height:30px;
	border-radius: 20px;
	margin-left:1100px;
	line-height:1.9em;
}
.profile-update input[type="submit"]{
	text-align:center;
	margin:0
}
.profile-update input[value="Update"]{
	margin-top:100px;
	margin-left:900px;
}


.my-edu{
	width:1500px;
	height:700px;
	border:2px solid #000;
	position:relative;
	margin-left:30px;
	font-size:19px;
}
.my-edu p{
	line-height:1.4em;
	height:23px;
	border-bottom:1px solid black;
}
*/